
@{
    ViewData["Title"] = "DisMundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribuidores Mundo</h1>
<br />
<div class="text-center">
    <h1 class="display-4">Wal-Mart Stores Inc.</h1>
    <p>Corporación multinacional de tiendas de origen estadounidense, que opera cadenas de grandes almacenes de descuento y clubes de almacenes. <a href="https://www.walmart.com/">Más información</a>.</p>
    <img src="https://noticiaslogisticaytransporte.com/wp-content/uploads/2015/06/walmart.png">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Costco Wholesale Corporation</h1>
    <p>Cadena internacional de tiendas de autoservicio con un formato de Club de Precios exclusiva para socios con Membresía vigente. <a href="https://www.costco.com/">Más información</a>.</p>
    <img src="https://peruretail.sfo3.cdn.digitaloceanspaces.com/wp-content/uploads/Costco-Wholesale-scaled.jpg">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">The Kroger Co.</h1>
    <p>Empresa minorista estadounidense que opera supermercados y tiendas multidepartamental en todo Estados Unidos. <a href="https://www.thekrogerco.com/">Más información</a>.</p>
    <img src="https://www.seafood.media/attach_fck/kroger_marketplace_southgate_exterior_shot_i(1).jpg">
</div>
<br />
<br />
<br />