
@{
    ViewData["Title"] = "DisPeru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribuidores Perú</h1>
<br />
<div class="text-center">
    <h1 class="display-4">EFC - Servicio de Importaciones</h1>
    <p>Consolidación de Compras - Somos la empresa peruana líder en la gestión de abastecimiento de suministros industriales. Ofrecemos soluciones de abastecimiento adaptándonos a las necesidades de cada cliente. <a href="https://www.efc.com.pe/">Más información</a>.</p>
    <img src="https://efc.com.pe/wp-content/themes/theme_invitro/images/logo.webp">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Alemar Group - Fabricante de repuestos</h1>
    <p>Distribución de autopartes - Carros, motos o todoterreno. Que la iluminación de tu auto nunca te falte con Luxled. Todo lo que necesitas para equipar tu local o negocio al mejor precio del mercado. Importadora de respuestos. <a href="https://www.alemargroup.com.pe/">Más información</a>.</p>
    <img src="https://media.licdn.com/dms/image/C4D0BAQGehnqAtTkEdA/company-logo_200_200/0/1630510571551/alemar_group_logo?e=1724889600&v=beta&t=e25G-NkgpxXumRTXPjLdfiSmFtYTCac4CYxpcviTTdE">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">NS Technology - Suministros de impresión</h1>
    <p>Papel bond, Toners, tintas - Venta y distribución de suministros para impresión, toners, cartuchos, tintas, cajas. de papel bond. En las marcas HP, Epson, Canon, Brother, entre otras. <a href="https://www.nstecnology.com.pe/suministros">Más información</a>.</p>
    <img src="https://www.nstecnology.com.pe/suministros/images/logo.png">
</div>
<br />
<br />
<br />
