@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Pregunta 1 y 2 de la evaluación T2 de Diseño y Arquitectura de Software</p>
</div>
